<div class="mat-elevation-z8">
  <div class="filter flex justify-center my-4 gap-80">
    <mat-form-field appearance="outline" class="w-1/3">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search by Keywords"
        class="text-center"
      />
    </mat-form-field>

    <button
      class="bg-green-700 rounded-2xl h-14 w-40 font-semibold text-teal-50"
      routerLink="/"
    >
      Back to Live logs
    </button>
  </div>
  <table
    mat-table
    [dataSource]="httpDatasource"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequency</th>
      <td mat-cell *matCellDef="let element">{{ element.frequency }}</td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
      <td mat-cell *matCellDef="let element">
        {{ element.timestamp | date : "medium" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
      <td
        mat-cell
        *matCellDef="let log"
        [ngClass]="{
          'text-green-500': log.label === 'INFO',
          'text-blue-500': log.label === 'DEBUG',
          'text-yellow-500': log.label === 'WARN',
          'text-red-500': log.label === 'ERROR'
        }"
      >
        {{ log.label }}
      </td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
      <td mat-cell *matCellDef="let element">{{ element.service }}</td>
    </ng-container>

    <ng-container matColumnDef="method_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Method Name</th>
      <td mat-cell *matCellDef="let element">{{ element.method_name }}</td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
      <td mat-cell *matCellDef="let element">{{ element.message }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
